body{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(104, 159, 241);
  text-align: center;
}
nav{
  text-align: center;
  list-style: none;

}
nav li{
    display: inline-block;
}  
nav li>a{
    display: inline-block;
    color: #01436e;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: transform 0.3s ease;
}
div{
    margin-bottom: 20px;
    text-align: center;
}
label{
    display: inline-block;
    width: 100px;
}
input{
    width: 200px;
}
nav a:hover{
    color: black;
    transform: scale(1.2);
}
fieldset{
    background-color: rgba(157, 239, 250, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.button {
  min-width: 120px;

  position: relative;
  cursor: pointer;
  padding: 12px 17px;
  border: 0;
  border-radius: 8px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(
    ellipse at bottom,
    rgba(71, 81, 92, 1) 0%,
     #01436e
  );

  color: rgb(255, 255, 255, 0.66);

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.button::before {
  content: "";
  width: 70%;
  height: 1px;

  position: absolute;
  bottom: 0;
  left: 15%;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  opacity: 0.2;

  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.button:hover {
  color: rgb(255, 255, 255, 1);
  transform: scale(1.1) translateY(-3px);
}

.button:hover::before {
  opacity: 1;
} 
