* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url("/fond-formulaire.png");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    /*background: #f2f5f9;*/
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 230px;
    background: #0f172a;
    color: white;
    padding: 20px;
}

.logo {
    margin-bottom: 30px;
    color: #38bdf8;
}
.sidebar i {
    margin-right: 10px;
}
.account i {
    margin-right: 8px;
}


.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 12px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
}

.sidebar ul li:hover,
.sidebar ul li.active {
    background: #1e293b;
}

.main-content {
    flex: 1;
    padding: 20px 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    color: #0f172a;
}

.account {
    background: white;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.card h3 {
    color: #64748b;
    margin-bottom: 10px;
}

.number {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 5px;
}

.green {
    color: #16a34a;
}

.orders {
    background: white;
    padding: 20px;
    border-radius: 12px;
}

.orders h2 {
    margin-bottom: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #e5e7eb;
    text-align: left;
}

.top-products {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-top: 20px;
}

.product {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

/* TABLETTE */
@media (max-width: 1024px) {
    .stats {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .stats {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .container {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}
.header h1{
    color: white;
}

.orders {
    overflow-x: auto;
}
