@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&family=Rubik:wght@300;400;500;600;700;800&display=swap');

:root{
    --primary-color: #6261d1;
    --secondary-color: #f44336;
    --secondary-dark-color: #d32f2f;

    --white-color: #ffffff;
    --lighting-color: #f5f5f5;
    --lighting-text-color: #9e9e9e;
    --dark-color: #212121;
    --border-color: #e0e0e0;

    --font-small: 12px;
    --font-smaller: 10px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3:300;
    --fw5:500;
    --fw6:600;
    --fw7:700;
    --fw8:800;

    --trans-background-color:background-color .3s, color .3s;
    --trans-background: background-color .2s;
    --trans-color: color .3s;
}
*,::before,::after{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: 'Rubix', sans-serif;
    background-color: var(--white-color);
    color: var(--dark-color);
    line-height: 1.4;
    font-weight: 400;
    font-size: 16px;
}
a{
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}
ul {
    list-style: none;
}
img{
    max-width: var(--percent100);
    vertical-align: middle;
}
strong{
    font-weight: var(--fw8);
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
input::placeholder{
    font:inherit
}

h1,h2,h3,h4{
    font-family: 'Poppins';
}
h1{
    font-size: calc(1.3em +1vw);
    font-weight: var(--fw8);
    line-height: 1;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.2em;
    font-weight: var(--fw7);
}
h4{
    font-size: 1em;
    font-weight: var(--fw6);
}

.conteiner{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938em;
}
.column{
    margin-left: -0.938em;
    margin-right: -0.938em;
}
.column.row{
    padding: 0 0.938em;
}
.flexwrap{
    display: flex;
    flex-wrap: wrap;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexitem{
    display: flex;
    align-items: center;
}
.flexcol{
    display: flex;
    flex-direction: column;
}

.main-links a:hover{
    color: var(--secondary-color);
}
.second-links a:hover{
    color: var(--lighting-text-color);
}
.icon-small, .icon-large{
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}
.icon-small {
    font-size: 1.25em;
    margin: auto;
}

.icon-large {
    font-size: 1.75em;
    padding: 0 0.75em 0 0;
}

header li > a {
    display: flex;
    position: relative;
    line-height: inherit;
}
.header-top .wrapper{
    font-size: var(--font-small);
    font-weight: var(--fw3);
    justify-content: space-between;
    line-height: 42px;
}
.header-top .wrapper ul {
    gap:2em;
}
.header-top li{
    position: relative;
}
.header-top ul ul {
   position: absolute;
   left: -1em;
   line-height: 2em;
   background-color: var(--white-color);
   border: 1px solid var(--border-color);
   z-index: 1;
   display: none;
}
.header-top .rigth ul ul li a {
    padding: 0.25em 1em;
}
.header-top .rigth ul ul li.current a {
    background-color: var(--border-color);
}
.header-top li:hover  ul {
    display: block;
}






@media (max-width: 992px){
    .conteiner{
        padding: 0 2em;
    }
}